.checkout.wrap{
    @include media-breakpoint-up(lg){
        height: calc(100vh - 5.5rem);
    }
}
.checkout_complete.wrap{
    @include media-breakpoint-up(lg){
        height: calc(100vh - 8.75rem);
    }
}
.timeline-section{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: $secondary;
    }
}
.timeline-pointer{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $white;
        z-index: 2;
        border: 1px solid $secondary;
    }
    p{
        font-size: $font-size-sm;
        margin-top: 8px;
        text-align: center;
        @include media-breakpoint-up(md){
            font-size: $font-size-base;
        }
    }
}
.done.timeline-pointer::before{
    background: $secondary;
}
.active.timeline-pointer p{
    font-weight: $font-weight-bold;
}
.checkout-item{
    margin-bottom: 1.25rem;
    @include media-breakpoint-up(lg){
        display: none;
    }
}
.checkout-item-lg{
    display: none;
    margin-left: -1.87rem;
    margin-right: -1.87rem;
    margin-bottom: 1.25rem;
    @include media-breakpoint-up(lg){
        display: flex;
    }
}

.form-group{
    margin-bottom: 1.25rem;
    label{
        margin-bottom: 0.25rem;
    }
}