.ticket-type-link{
    display: block;
    color: $black;
    padding: .375rem 1rem;
    &:hover{
        color: $black;
        border-bottom: 1px solid $secondary;
    }
}
.ticket-type .active{
    border-bottom: 1px solid $secondary;
}
.ticket-info{
    height: 256px;
}

.border-lg-75{
    @include media-breakpoint-up(lg){
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 75%;
            height: 100%;
            width: 1px;
            background-color: $black;
        }
    }
}

.ticket-img{
    position: relative;
}
.ticket-img::after{
    @include media-breakpoint-up(md){
        content: '01 \A JUN \A | \A 31 \A OCT';
        white-space: pre;
        position: absolute;
        top: 50%;
        right: 13%;
        transform: translate(100%,-50%);
        color: $white;
        font-weight: $font-weight-bold;
    }
}