.product-list{
    .card{
        &-dark{
            background-color: $primary;
            color: $white;
        }
        &-light{
            background-color: $white;
            color: $primary;
        }
    }
}

