<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <!-- header -->
    <header class="header border border-dark" data-aos="fade-up">
      <div class="container">
        <div class="row py-5 py-md-7">
          <!-- logo -->
          <div class="col-6 offset-3 col-md-4 offset-md-4">
            <h1 class="logo">
              <a href="index.html" class="d-block fs-4 text-center">
                EXHIBINECTION
              </a>
            </h1>
          </div>
          <div class="col-3 col-md-4">
            <ul class="menu list-unstyled d-flex justify-content-end">
              <li class="menu-item d-none d-md-block">
                <a href="#" class="menu-link">Sign in</a>
              </li>
              <li class="menu-item d-none d-md-block">
                <a href="#" class="menu-link">Sign up</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link text-black" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <span class="material-icons icon-link">confirmation_number</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- banner -->
      <% if(current == 'index') { %>
        <div class="banner">
          <div class="container h-100 d-flex flex-column justify-content-center">
            <div class="ms-md-24">
              <h2 class="text-light fw-bold mb-2" data-aos="fade-right">台北當代藝術展</h2>
              <p class="text-light fw-bold fs-5 mb-4" data-aos="fade-right">01 JUN - 31 OCT</p>
              <div class="d-flex">
                <button type="button" class="btn btn-secondary w-50 w-md-auto me-2" data-aos="fade-right">購買票券</button>
                <button type="button" class="btn btn-outline-light w-50 w-md-auto" data-aos="fade-right">詳細資訊</button>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      <!-- nav -->
      <div class="nav-scroller border-top border-dark <%- nav_display %>">
        <div class="container">
          <nav class="nav justify-content-start justify-content-sm-center">
            <a class="nav-link" href="#">音樂</a>
            <a class="nav-link" href="#">戲劇</a>
            <% if(current == 'product') { %>
              <a class="nav-link active" href="product.html">設計</a>
            <% } else { %>
              <a class="nav-link" href="product.html">設計</a>
            <% } %>
            <a class="nav-link" href="#">藝術</a>
            <a class="nav-link" href="#">美食</a>
            <a class="nav-link" href="#">旅遊</a>
            <a class="nav-link" href="#">電影</a>
            <a class="nav-link" href="#">親子</a>
            <a class="nav-link" href="#">期間限定</a>
          </nav>
        </div>
      </div>
    </header>

    <%- contents %>

    <!-- footer -->
    <footer class="footer <%- footer_display %>" data-aos="fade-up">
      <div class="content">
        <div class="container h-100 d-flex align-items-end">
          <div class="w-100 w-md-auto">
            <div class="fs-4 fs-md-2 text-light fw-bold mb-7 mb-md-3">
              想收到最新消息嗎？
              <br>
              快訂閱我們！
            </div>
            <div class="d-flex subcript-input mb-9">
              <input class="form-control" type="text" placeholder="輸入您的電子信箱" width="350">
              <button type="button" class="btn btn-secondary px-13">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container d-flex justify-content-between py-7">
          <div class="d-md-flex align-items-md-center">
            <div class="fs-4 me-4">EXHIBINECTION</div>
            <div>© 2020. All Rights Reserved.</div>
          </div>
          <ul class="menu list-unstyled d-none d-md-flex">
            <li class="menu-item">
              <a href="#" class="menu-link">Sign in</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- cartModal -->
    <div class="modal modalRight fade cart-scroller" id="cartModal" tabindex="-1" aria-labelledby="cartTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-2 text-white" id="cartTitle">Cart List</h5>
          </div>
          <div class="modal-body">
            <div class="card rounded px-8 pt-7 pb-6 mb-3">
              <button type="button" class="card-close btn-close" aria-label="Close"></button>
              <div class="d-flex align-items-center">
                <div class="w-25 me-4">
                  <img src="./assets/images/popular-1.jpg" class="card-img" alt="popular-1">
                </div>
                  <div class="card-body">
                    <h5 class="h6 mb-1">2020 台味設計展</h5>
                    <p class="mb-1">01 JUN — 31 OCT</p>
                    <p class="text-dark mb-3">全票</p>
                    <p class="fs-5 fw-bold">NT$350</p>
                  </div>
                <div>
                  <span class="material-icons d-none d-sm-block">remove</span>
                  <span class="fs-5 fw-bold mx-3">01</span>
                  <span class="material-icons d-none d-sm-block">add</span>
                </div>
              </div>
            </div>
            <div class="card rounded px-8 pt-7 pb-6 mb-3">
              <button type="button" class="card-close btn-close" aria-label="Close"></button>
              <div class="d-flex align-items-center">
                <div class="w-25 me-4">
                  <img src="./assets/images/popular-2.jpg" class="card-img" alt="popular-2">
                </div>
                  <div class="card-body">
                    <h5 class="h6 mb-1">2020 台味設計展</h5>
                    <p class="mb-1">01 JUN — 31 OCT</p>
                    <p class="text-dark mb-3">全票</p>
                    <p class="fs-5 fw-bold">NT$350</p>
                  </div>
                <div>
                  <span class="material-icons d-none d-sm-block">remove</span>
                  <span class="fs-5 fw-bold mx-3">01</span>
                  <span class="material-icons d-none d-sm-block">add</span>
                </div>
              </div>
            </div>
            <div class="card rounded px-8 pt-7 pb-6 mb-3">
              <button type="button" class="card-close btn-close" aria-label="Close"></button>
              <div class="d-flex align-items-center">
                <div class="w-25 me-4">
                  <img src="./assets/images/popular-3.jpg" class="card-img" alt="popular-3">
                </div>
                  <div class="card-body">
                    <h5 class="h6 mb-1">2020 台味設計展</h5>
                    <p class="mb-1">01 JUN — 31 OCT</p>
                    <p class="text-dark mb-3">全票</p>
                    <p class="fs-5 fw-bold">NT$350</p>
                  </div>
                <div>
                  <span class="material-icons d-none d-sm-block">remove</span>
                  <span class="fs-5 fw-bold mx-3">01</span>
                  <span class="material-icons d-none d-sm-block">add</span>
                </div>
              </div>
            </div>
            <div class="card rounded px-8 pt-7 pb-6 mb-3">
              <button type="button" class="card-close btn-close" aria-label="Close"></button>
              <div class="d-flex align-items-center">
                <div class="w-25 me-4">
                  <img src="./assets/images/popular-1.jpg" class="card-img" alt="popular-1">
                </div>
                  <div class="card-body">
                    <h5 class="h6 mb-1">2020 台味設計展</h5>
                    <p class="mb-1">01 JUN — 31 OCT</p>
                    <p class="text-dark mb-3">全票</p>
                    <p class="fs-5 fw-bold">NT$350</p>
                  </div>
                <div>
                  <span class="material-icons d-none d-sm-block">remove</span>
                  <span class="fs-5 fw-bold mx-3">01</span>
                  <span class="material-icons d-none d-sm-block">add</span>
                </div>
              </div>
            </div>
            <div class="card rounded px-8 pt-7 pb-6 mb-3">
              <button type="button" class="card-close btn-close" aria-label="Close"></button>
              <div class="d-flex align-items-center">
                <div class="w-25 me-4">
                  <img src="./assets/images/popular-2.jpg" class="card-img" alt="popular-2">
                </div>
                  <div class="card-body">
                    <h5 class="h6 mb-1">2020 台味設計展</h5>
                    <p class="mb-1">01 JUN — 31 OCT</p>
                    <p class="text-dark mb-3">全票</p>
                    <p class="fs-5 fw-bold">NT$350</p>
                  </div>
                <div>
                  <span class="material-icons d-none d-sm-block">remove</span>
                  <span class="fs-5 fw-bold mx-3">01</span>
                  <span class="material-icons d-none d-sm-block">add</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <p class="fs-5 text-white"><span class="me-6">小計</span>NT$1050</p>
            <a href="checkout-1.html" class="btn btn-white">前往結帳</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
      // Global settings:
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
      initClassName: 'aos-init', // class applied after initialization
      animatedClassName: 'aos-animate', // class applied on animation
      useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
      disableMutationObserver: false, // disables automatic mutations' detections (advanced)
      debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
      throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
      

      // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
      offset: 120, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 800, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: false, // whether animation should happen only once - while scrolling down
      mirror: false, // whether elements should animate out while scrolling past them
      anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
});
    </script>  
  </body>

</html>